<!DOCTYPE html>
<html>
<head>
    <title>CivicConnect AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>CivicConnect AI</h1>
        <p>AI-Powered Civic Complaint Management System</p>
    </header>

    <main>
        <h2>Report a Civic Issue</h2>

        <p>
            Report problems such as potholes, garbage,
            water leakage and damaged street lights.
        </p>

        <button>Report Complaint</button>
    </main>

</body>
</html>
